<!DOCTYPE html>
<html>
  <head>
    <title>SpCialis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="top">
      SpCialis
      <div class="sentence"> 〜こだわりの一品を、伝える、広める。〜</div>
      <div class="user">
        <div class="chef">
          <p class="pastry">パティシエとして</p>
          <% if chef_signed_in? %>
             <%= link_to "マイページ", recipes_path, class: "chef__btn" %>
          <% else %>
            <%= link_to "ログイン", new_chef_session_path, class: "chef__btn" %>
            <%= link_to "新規登録", new_chef_registration_path, class: "chef__btn" %>
          <% end%>  
        </div>    
        <div class="customer">
          <p class="human">お客様として</p>
          <% if customer_signed_in? %>
              <%= link_to "みんなのレシピ", customers_path, class: "customer__btn" %>
          <% else %>
            <%= link_to "ログイン", new_customer_session_path, class: "customer__btn" %>
            <%= link_to "新規登録", new_customer_registration_path, class: "customer__btn" %>
          <% end%>  
        </div>
      </div>  
    </div> 
  </body>
</html>




