<div class="side-bar">
  category
   <%= link_to "材料登録",  new_material_path, class: "recipe" %>
   <%= link_to "材料一覧",  new_material_path, class: "recipe" %>
   <%= link_to "レシピ作成", new_recipe_path, class: "recipe" %>
   <%= link_to "マイレシピ", chefs_path, class: "recipe" %>
   <%= link_to "みんなのレシピ", recipes_path, class: "recipe" %>
</div>

<div class="main">
  <p class="name-chef"><%= @nickname %>さんのレシピ一覧</p>
  <% @recipes.each do |recipe| %>
    <div class="dessert">
      <span class="nickname">
         <a href="/chefs">
          <span>製作者</span><%= recipe.chef.nickname %>
         </a>
      </span> 
      <div class="image">
        <%= image_tag recipe.image.url, class:"tag"%>
      </div>
      <div class="title-btn">
      <%= link_to recipe.name , recipe_path(recipe.id), class:"title-btn-link"%>
      </div>
      <div class="explanation">
        <%= recipe.explanation %> 
      </div>
       
    </div>
  <% end %>
  <%= paginate(@recipes) %>
</div>