<div class="side-bar">
  category
   <%= link_to "材料登録",  new_material_path, class: "recipe" %>
   <%= link_to "材料一覧",  new_material_path, class: "recipe" %>
   <%= link_to "レシピ作成", new_recipe_path, class: "recipe" %>
   <%= link_to "マイレシピ", chefs_path, class: "recipe" %>
   <%= link_to "みんなのレシピ", recipes_path, class: "recipe" %>
</div>

<div class="main">
  <div class="dessert">
    <div class="image">
    </div>
    <div class="title-btn">
     <%= link_to "テスト", new_recipe_path, class:"title-btn-link"%>
    </div>
    <div class="explanation">
      
    </div>
  </div>

  <div class="dessert">
    <div class="image">
    </div>
    <div class="title-btn">
     <%= link_to "テスト", new_recipe_path, class:"title-btn-link"%>
    </div>
    <div class="explanation">
      
    </div>
  </div> 

</div>