<div class="side-bar">
  category
   <%= link_to "材料登録",  new_material_path, class: "recipe" %>
   <%= link_to "材料一覧",  new_material_path, class: "recipe" %>
   <%= link_to "レシピ作成", new_recipe_path, class: "recipe" %>
   <%= link_to "マイレシピ", chefs_path, class: "recipe" %>
   <%= link_to "みんなのレシピ", recipes_path, class: "recipe" %>
</div>

<div class="main">
    <div class="cake_show">
        <%= link_to '削除', recipe_path(@recipe.id), method: :delete, class:"btn" %>
        <%= link_to '編集', edit_recipe_path(@recipe.id), method: :get, class:"btn" %>
      <div class="heder">    
        <div class="image_show">
          <%= image_tag @recipe.image.url, class: 'tag' %>
        </div>
        <div class="name_show">
          <%= @recipe.name %>
          <div class="explanation_show">
            <%= @recipe.explanation %>
          </div>
        </div>
      </div>  
      <div class="frame_show">
        <div class="vaiue_show">
          <table id="table_show" border="1">        
            <tr>
              <td>材料名
              </td>
              <td>量(g)
              </td>
              <td>原価
              </td>
            </tr>
            <tr>
              <td> <%= @recipe.materials%>
              </td>
              <td> <%= @recipe.amount%>
              </td>
              <td> <%= @recipe.cost%>
              </td>
            </tr>
          </table>  
        </div>
        <div class="make_show">
           <span class="box-title">作り方</span>
          <p><%= @recipe.make %></p>
        </div>
      </div>
    </div>  
 
</div>