<!DOCTYPE html>
<html>
  <head>
    <title>SpCialis</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      Spécialisé
      
      <%= link_to "Log out", destroy_chef_session_path, method: :delete, class: "logout__btn" %>
      
    </header>
    
    <%= yield %>
  </body>
</html>
